﻿body {
}
#main-content{
    margin-top:50px;
}
.urun-select div.selector{
    width:90%;
}
.urun-select div.selector span {
    width:90%;
}
.urun-select div.selector select {
    width:90%;
}
.urun-select .formRight {
<<<<<<< HEAD
    width:60%;
}
.kategoriekle {
 text-align:center;
}
.kategoriekle input[type=text]{
    width:90% !important;
}
.kategoriduzenle {
    width:90% !important;
}
.cinsiyetsec {
    width: 200px;
    font-size: 12px;
    background-color:#f1f1f1;
    height:25px;
=======
    width:70%;
}
.urun-ozellik .formRow {
    padding:5px 10px;
>>>>>>> 7477870f7d1eb738dc7fa2e43c44212cd34de20a
}