﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="mesajDetay.aspx.cs" Inherits="mesajDetay" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="wrapper">
        <div class="widget" style="margin-left: 0";>
            <div class="title"><img src="images/icons/dark/pencil.png" alt="" class="titleIcon" />
                <h6>KARŞILIKLI KONUŞMALARIN LİSTESİ</h6></div>
			<form id="wizard1" method="post" action="submit.html" class="form">
                <fieldset class="step" id="w1first">
                    <div class="formRow">
                        <table cellpadding="0" cellspacing="0" border="0" class="display dTable">
                            <thead>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" class="display dTable">
                            <thead>
                            <tr>
                                <th>Kullanıcı</th>
                                <th>Mesaj</th>
                            </tr>
                            </thead>
                            <tbody>
                                <asp:Repeater ID="Repeater1" runat="server">
                                    <ItemTemplate>
                                        <tr class="gradeX odd">
                                            <td class="sorting_1"><%#Eval("Kullanici") %></td>
                                            <td><%#Eval("Mesaj") %></td>
                                        </tr>
                                    </ItemTemplate>
                                </asp:Repeater>
                            </tbody>
                            </table>  
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>            
                </fieldset>
        </div>
    </div>
</asp:Content>

